@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

html {
    overflow: hidden;
    font-family: 'Poppins';
}

.nav-bar{
    height: 8vh;
    background-image: url(images/hero.bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    padding: 7px;
}

a{
    text-decoration: none;
    color: white;
}

.nav-list{
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.nav-list a{
    margin: 2rem;
}

#menu-icon {
    font-size: 2rem;
    display: none;
}




.hero{
    height: 92vh;
    background-image: url(images/hero.bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.hero-content{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0 5rem;
}

.left-cont h1{
    font-size: 4rem;
}

.right-col p{
    font-size: 40px;
}


.right-col img{
    cursor: pointer;
    height: 100px;
}


.img-1 img{
    width: 100%;
}










@media(max-width:550px){
     #menu-icon{
        display: block;
    }

    .nav-list{
        position: absolute;
        top: 100%;
        /* right:0; */
        right: 99px;
        width: 40vw;
        background: rgba(0, 0, 0, 0.8);
        border: 2px solid aqua;
        border-radius: 5px;
        flex-direction: column;
        display: none;
    }
    .nav-list.active{
        display: block;
    }

    .nav-list a{
       margin: 14px;
    }





    .hero-content{
        flex-direction: column;
        row-gap: 3rem;
        padding:2rem 5rem;
    }

    .left-cont h1{
        font-size:2rem;
    }

    .right-col p{
        font-size: 19px;
    }

    .right-col img{
        height: 70px;
    }

    .img-1 img{
        margin-top: 13px;
        height: 50vh;
        width: 80vw;
        align-self: flex-end;
    }
}




